iiot/
chroma_db/
chroma_db_w/
chroma_db_70k/
chroma_db_backup/
data/
node_modules/
.env
__pycache__/
*.pyc
.DS_Store
benchmark_*.json

.vscode/browse.vc.db
.vscode/browse.vc.db-shm
.vscode/browse.vc.db-wal
